<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Filtro de Imagens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Envie uma Imagem e Aplique um Filtro</h1>

    <p style="text-align:center; max-width:600px; margin:0 auto 20px auto;">
        Este sistema permite que você envie uma imagem e aplique diferentes filtros de processamento digital.
        Escolha entre opções como negativo, filtro da mediana, desfoque gaussiano, escala de cinza e preto & branco.
        O resultado será exibido ao lado da imagem original com opção de download.
    </p>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="image" required><br><br>

        <label for="filtro">Escolha um filtro:</label>
        <select name="filtro">
            <option value="negativo">Negativo</option>
            <option value="mediana">Mediana</option>
            <option value="gaussiano">Gaussiano</option>
            <option value="cinza">Escala de Cinza</option>
            <option value="preto_branco">Preto & Branco</option>
        </select><br><br>

        <input type="submit" value="Aplicar Filtro">
    </form>

    {% if original_image and processed_image %}
        <h2>Resultado:</h2>
        <div style="display: flex; gap: 20px;">
            <div>
                <h3>Original</h3>
                <img src="{{ original_image }}" width="300">
            </div>
            <div class="resultado">
                <h3>Processada</h3>
                <p style="background-color: #dfe6e9; padding: 6px 12px; border-radius: 8px; font-weight: bold; display: inline-block;">
                    Filtro aplicado: {{ filtro_aplicado|capitalize }}
                </p>
                <img src="{{ processed_image }}" width="300"><br>
                <a href="{{ processed_image }}" download>📥 Baixar Imagem</a>
            </div>
        </div>
    {% endif %}
</body>
</html>
